<div class="col-sm-3 form-group">
        <label>Meter Reading Date</label>
        <input type="text"
                            name="readingDate"
                            placeholder="Reading Date"
                            class="form-control"
                            [bsConfig]="{ isAnimated: true }"
                            [(ngModel)]="readingDate"
                            containerClass="dark-blue"
                            bsDatepicker>
                            <button class="btn btn-success" (click)="searchByUdcId()">Search</button>
</div>
<div class="input-group-btn">
        
    </div>
<div *ngIf="chart" >
        <canvas id="canvas">{{ chart }}</canvas>
</div>
