<header>
    <div class="navbar">
            <h2 class="navbar-brand">Meter Data</h2>
            <ul class="nav navbar-nav">
                <li class="toolbar-item">
                    <a routerLink="/dashboard"><span class = "glyphicon glyphicon-dashboard"> Dashboard</span>
                    </a>
                </li>
                <li class="toolbar-item">
                    <a routerLink="/meterdata"><span class = "glyphicon glyphicon-search"> MeterSearch</span>
                    </a>
                </li>
            </ul>
        </div>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>
